SUPABASE_STORAGE_PROJECT_ID=<find-it-inside-your-project-url># e.g. the "ehnucwgxrudrkmvzfgck" from "https://ehnucwgxrudrkmvzfgck.supabase.co"; on 2024-11-14 found here https://supabase.com/dashboard/project/ehnucwgxrudrkmvzfgck/settings/api
SUPABASE_STORAGE_API_KEY=<it's-the-service_role-secret># it's a jwt with [ref: your-project-id] and [role: service_role]; on 2024-11-14 found here https://supabase.com/dashboard/project/ehnucwgxrudrkmvzfgck/settings/api